---
# Make all handler tasks run with sudo
- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: yes

- name: restart nginx
  service: name=nginx state=restarted

- name: validate nginx configuration
  command: nginx -t -c /etc/nginx/nginx.conf
  changed_when: false

- name: reload nginx
  service: name=nginx state=reloaded
  when: nginx_service_state == "started"
